@model List<WebProgramlamaProje.Entity.Category>
@{
    ViewData["Title"] = "AdminCategoryList";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<script src="https://cdn.jsdelivr.net/npm/sweetalert2@8"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css" integrity="sha512-c42qTSw/wPZ3/5LBzD+Bw5f7bSF2oxou6wEb+I/lqeaKV5FDIfMvvRp772y4jcJLKuGUOpbJMdg/BTl50fJYAw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/limonte-sweetalert2/11.1.9/sweetalert2.min.css" integrity="sha512-cyIcYOviYhF0bHIhzXWJQ/7xnaBuIIOecYoPZBgJHQKFPo+TOBA+BY1EnTpmM8yKDU4ZdI3UGccNGCEUdfbBqw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
<script src="https://cdnjs.cloudflare.com/ajax/libs/limonte-sweetalert2/11.1.9/sweetalert2.all.min.js" integrity="sha512-IZ95TbsPTDl3eT5GwqTJH/14xZ2feLEGJRbII6bRKtE/HC6x3N4cHye7yyikadgAsuiddCY2+6gMntpVHL1gHw==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script src="~/Scripts/jquery-3.4.1.js"></script>
<br />
<body class="hold-transition sidebar-mini">
    <section class="content">
        <div class="card">
            <div class="card-header">
                <h3 class="card-title" style="color :red" key=35>Kategori Listesi</h3>

            </div>
            <div class="card-body p-0 responsive">
                <table class="table table-striped projects table-responsive-sm table-responsive-md">
                    <thead>
                        <tr>
                            <th>
                                ID
                            </th>
                            <th key=36>
                                Kategori Adı
                            </th>
                            <th key=37>
                                Düzenle
                            </th>
                            <th key=38>
                                Sil
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var x in Model)
                        {

                            <tr>
                                <td>@x.CategoryID</td>
                                <td>
                                    <a>@x.CategoryName</a>
                                </td>


                                <td>
                                    <a class="btn btn-info btn-sm" href="/Category/EditCategory/@x.CategoryID" key=37>
                                        <i class="fas fa-pencil-alt"></i>
                                        Düzenle
                                    </a>
                                </td>
                                <td>
                                    <a class="btn btn-danger btn-sm delete" href="/Category/DeleteCategory/@x.CategoryID" key=38>
                                        <i class="fas fa-trash"></i>
                                        Sil
                                    </a>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </section>
    <button class="btn btn-primary" data-toggle="modal" data-target="#Modal1" key=39>Yeni kategori ekle</button>
    <div class="modal fade" id="Modal1">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h3 style="color:red" class="modal-title">Yeni kategori ekle</h3>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <form method="post" action="/Category/AddNewCategory/">
                    <div class="modal-body">
                        <label key=36>Kategori adı</label>
                        <input type="text" name="CategoryName" class="form-control" />
                        <br />
                    </div>
                    <div class="modal-footer">
                        <button class="btn btn-info key=40">Kaydet</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</body>
<script>
    $('.delete').on('click', function (e) {
        e.preventDefault();
        var self = $(this);
        console.log(self.data('title'));
        const swalWithBootstrapButtons = Swal.mixin({
            customClass: {
                confirmButton: 'btn btn-success',
                cancelButton: 'btn btn-danger'
            },
            buttonsStyling: true
        })
        swalWithBootstrapButtons.fire({
            title: 'Emin misin?',
            text: "Bu kategoriyi silerseniz, bu kategoriye ait bloglar da silinir! Tavsiye edilmez!!!",
            icon: 'warning',
            showCancelButton: true,
            confirmButtonText: 'Evet, sil!',
            cancelButtonText: 'Hayır, iptal!',
            confirmButtonColor: "#558B2F",
            cancelButtonColor: "#C62828",
            reverseButtons: false
        }).then((result) => {
            if (result.isConfirmed) {
                swalWithBootstrapButtons.fire(
                    'Silindi!',
                    'Kategori başarıyla silindi.',
                    'success'
                )
                location.href = self.attr('href');
            } else if (
                /* Read more about handling dismissals below */
                result.dismiss === Swal.DismissReason.cancel
            ) {
                swalWithBootstrapButtons.fire(
                    'İptal edildi',
                    'Kategorin güvende :)',
                    'error'
                )
            }
        })
    })</script>

