@model WebProgramlamaProje.Entity.Blog
@{
    ViewData["Title"] = "AuthorUpdateBlog";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<br />
<h2 style="color :red">Blog Güncelle</h2>
<p>Yanında * işareti olanlar doldurulmak zorundadır.</p>
<form class="form-group" method="post">
    <label for="BlogName">Blog Başlığı</label>
    @Html.TextBoxFor(x => x.BlogName, new { @class = "form-control" })
    <br />
    <label for="CategoryID">Kategori*</label>
    <p>Kategori yok ise kategoriler bölümünden yeni kategori ekleyiniz.</p>
    Html.DropDownListFor(x => x.CategoryID, (ListSelectListItem>)ViewBag.values, new { class = "form-control" })
    <br />
    <label for="BlogDate">Tarih (dd.mm.yyyy)*</label>
    @Html.TextBoxFor(x => x.BlogDate, new { @class = "form-control" })
    <br />
    <label for="AuthorID">Yazar*</label>
    <p>Yazar yok ise yazarlar bölümünden yeni yazar ekleyiniz.</p>
    Html.DropDownListFor(x => x.AuthorID, (ListSelectListItem>)ViewBag.values2, new { class = "form-control" })
    <br />
    <label for="BlogImage">1.Fotoğraf URL</label>
    @Html.TextBoxFor(x => x.ImageAdress, new { @class = "form-control" })
    <br />
    <label for="BlogContent">İçerik 1.Paragraf (min 200 karakter)</label>
    @Html.TextAreaFor(x => x.Description, 10, 20, new { @class = "form-control" })
    <br />
    <button class="btn btn-info">Kaydet</button>
</form>


