@{
	ViewData["Title"] = "BlogDetails";
	Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="breadcrumb-section" style="background-image: url('https://images.pexels.com/photos/3075993/pexels-photo-3075993.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1');">
	<div class="container">
		<div class="row">
			<div class="col-lg-8 offset-lg-2 text-center">
				<div class="breadcrumb-text">
					<h1>Başlık</h1>
					<p>Tarih</p>
				</div>
			</div>
		</div>
	</div>
</div>

<div class="mt-150 mb-150">
	<div class="container">
		<div class="row">
			<div class="col-lg-1"></div>
			<div class="col-lg-10">
				<div class="single-article-section">

					<div class="single-article-text">
						<div class="single-artcile-bg" style="background-image: url('x.BlogImage');"></div>
						<h2>Başlık</h2>
						<p>İçerik</p>
						<br />
					</div>
					Yorumlar
					Yorum Yap
				</div>
			</div>
			<div class="col-lg-1"></div>

		</div>
	</div>
</div>