@model WebProgramlamaProje.Entity.Author

@{
    ViewData["Title"] = "EditAuthor";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<br />
<h2 style="color :red" key=46>Yazar Güncelleme</h2>
<form class="form-group" method="post">
    @Html.Label("Author ID (Değiştirmeyiniz!)")
    @Html.TextBoxFor(x => x.AuthorID, new { @class = "form-control" })
    <br />
    @Html.Label("İsim Soyisim")
    @Html.TextBoxFor(x => x.AuthorName, new { @class = "form-control" })
    <br />
    <button class="btn btn-info" key=43>Güncelle</button>
</form>
