@{
    Layout = null;
}


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Web Programlama</title>
      <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">

  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
        <script src="~/js/script.js"></script>

    <link rel="shortcut icon" type="image/png" href="~/blogui/img/logo.png">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,700" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Poppins:400,700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="~/blogui/css/all.min.css">
    <link rel="stylesheet" href="~/blogui/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="~/blogui/css/owl.carousel.css">
    <link rel="stylesheet" href="~/blogui/css/magnific-popup.css">
    <link rel="stylesheet" href="~/blogui/css/animate.css">
    <link rel="stylesheet" href="~/blogui/css/meanmenu.min.css">
    <link rel="stylesheet" href="~/blogui/css/main.css">
    <link rel="stylesheet" href="~/blogui/css/responsive.css">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
</head>
<body>

    <div class="loader">
        <div class="loader-inner">
            <div class="circle"></div>
        </div>
    </div>

    <div class="top-header-area" id="sticker">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 col-sm-12 text-center">
                    <div class="main-menu-wrap">
                        <nav class="main-menu" style="margin-left:5px;">
                            <ul>
                                <li >
                                    <a asp-area="" asp-controller="Home" asp-action="Index" key=0>Ana Sayfa</a>
                                </li>                                
                                <li>
                                    <a  asp-area="" asp-controller="Home" asp-action="AllBlogs" key=1>Tüm Bloglar</a>
                                </li>
                                <li>
                                    <a asp-area="" asp-controller="UserAuthentication" asp-action="Login" key=2>Giriş</a>
                                </li>

                                <li>
                                    <a href="#" id="drop_yazı"> Dil</a>
                                    <ul class="sub-menu">
                                        <li class="dp" id="en"><a href="#">English</a></li>
                                        <li class="dp" id="tr"><a href="#">Türkçe</a></li>
                                    </ul>
                                </li>

                            </ul>
                        </nav>
                        <div class="mobile-menu"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    @RenderBody()
    <div class="footer-area">
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-md-6">
                    <div class="footer-box about-widget">
                        <h2 class="widget-title" key=7>Hakkımızda</h2>
                        <p>Lorem ipsum hakkında paragraf</p>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6">
                    <div class="footer-box get-in-touch">
                        <h2 class="widget-title" key=8>İletişim</h2>
                        <ul>
                            <li>Sakarya University/Serdivan</li>
                            <li>mehmetalidemirts@gmail.com</li>
                            <li>+5353978339</li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6">
                    <div class="footer-box pages">
                        <h2 class="widget-title" key=9>Sayfalar</h2>
                        <ul>
                            <li>
                                <a asp-area="" asp-controller="Home" asp-action="Index" key=0>Ana Sayfa</a>
                            </li>
                            <li>
                                <a asp-area="" asp-controller="Home" asp-action="AllBlogs" key=1>Tüm Bloglar</a>
                            </li>
                            <li>
                                <a asp-area="" asp-controller="UserAuthentication" asp-action="Login" key=2>Giriş</a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6">
                    <div class="footer-box subscribe">
                        <h2 class="widget-title" key=10>Abone ol</h2>
                        <p key=11>Güncel paylaşımları kaçırmamak için bültene abone olun</p>
                        <form>
                            <input type="email" placeholder="Email">
                            <button type="submit"><i class="fas fa-paper-plane"></i></button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="copyright">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-md-12">
                    <p>Copyrights &copy; 2023 - <a href="http://mehmetalidemirtas.com/">Mehmetali Demirtas</a> Her türlü hakkı saklıdır.</p>
                </div>
                <div class="col-lg-6 text-right col-md-12">
                    <div class="social-icons">
                        <ul>
                            <li><a href="https://github.com/mehmetalidemirtas" target="_blank"><i class="fab fa-github"></i></a></li>
                            <li><a href="https://www.linkedin.com/in/mehmetalidemirtas/" target="_blank"><i class="fab fa-linkedin"></i></a></li>
                            <li><a href="mailto:ali.demirtas.developer@gmail.com" target="_blank"><i class="fas fa-envelope"></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
	<script src="~/js/language.js"></script>
    <script src="~/blogui/js/jquery-1.11.3.min.js"></script>
    <script src="~/blogui/bootstrap/js/bootstrap.min.js"></script>
    <script src="~/blogui/js/jquery.countdown.js"></script>
    <script src="~/blogui/js/jquery.isotope-3.0.6.min.js"></script>
    <script src="~/blogui/js/waypoints.js"></script>
    <script src="~/blogui/js/owl.carousel.min.js"></script>
    <script src="~/blogui/js/jquery.magnific-popup.min.js"></script>
    <script src="~/blogui/js/jquery.meanmenu.min.js"></script>
    <script src="~/blogui/js/sticker.js"></script>
    <script src="~/blogui/js/main.js"></script>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>