<!doctype html>
<html lang="en">
<head>
	<title></title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

	<link href="https://fonts.googleapis.com/css?family=Lato:300,400,700&display=swap" rel="stylesheet">
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
	<link rel="stylesheet" href="~/loginui/css/style.css">

</head>
<body class="img js-fullheight" style="background-image: url(https://www.freecodecamp.org/news/content/images/2022/09/jonatan-pie-3l3RwQdHRHg-unsplash.jpg);">
	@RenderBody()
	
	<script src="~/loginui/js/jquery.min.js"></script>
	<script src="~/loginui/js/popper.js"></script>
	<script src="~/loginui/js/bootstrap.min.js"></script>
	<script src="~/loginui/js/main.js"></script>
	@await RenderSectionAsync("Scripts", required: false)
</body>
</html>